body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
    margin: 50px;
    background-color:white;
  }

  img {
    display: flex;
    border-radius: 8%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  height: auto;
  }

  #mylogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  
  }
  
  ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  }
  li{
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:purple;
  }
  
  .active {
    background-color: pink;
  }
  
   #adBanner{
    display:block ;
    border-radius: 8%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  height: auto;
  padding: 14px 180px;
  }
  p{
    color:rgb(17, 2, 2);
  }
  
  audio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding: .1in;
  }
  .list{
    font-style: oblique;
  }
  h1{
    justify-content: center;
    display: flex;
    background-color: #f9f9f6;
    padding: 20px;
    text-align: center;
    color: rgb(10, 1, 18);
    font-weight: bold;
    font-weight: 900;
  }
  #toppic{
    justify-content: left;
  border-radius: 0%;
  float: left;
  width: 100px;
  margin: 0; 
  padding-right: 100;
 float:top;
 position: absolute;
  top: 50px;
  left: 96px;

  }
  #pic{
    justify-content: left;
  border-radius: 0%;
  float: left;
  width: 100px;
  margin: 0; 
  padding-right: 100;
 float:bottom;
 position: absolute;
 padding-top: 0px;
 padding-left: 50px;
    
  }
  #ssicon{
    justify-content: center;
  border-radius: 0%;
  float: center;
  width: 100px;
  margin: 0; 
  padding-left: 100;
 float:bottom;
 position: absolute;
 padding-bottom: 0px;
 right: 700px;

  }
 
  footer {
    float: bottom;
    justify-content: center;
    display: block;
    background-color: #f9f9f6;
    padding: 14px 180px;
    text-align: center;
    color: rgb(6, 1, 11);
    font-weight: bold;
    font-weight: 900;

}